<div class="main" fxFlex>
  <mat-sidenav-container fxFlex>
    <mat-sidenav #mainSideNav mode="side" class="item-list">
      <mat-toolbar color="primary">
        <img
          src="../assets/img/atm.png"
          style="height:80%">
            {{appName}}
      </mat-toolbar>
      <mat-nav-list>
        <a *ngFor="let navItem of mainMenuItems"
            mat-list-item
            mat-ripple
            [style.position]="'relative'"
            routerLinkActive="selected"
            [routerLink]="[navItem.path]">
          <mat-icon *ngIf="navItem.icon">{{ navItem.icon }}</mat-icon>
          <p>{{ navItem.title }}</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <mat-icon (click)="mainSideNav.toggle()" *ngIf="mainSideNav.opened">chevron_left</mat-icon>
      <mat-icon (click)="mainSideNav.toggle()" *ngIf="!mainSideNav.opened">menu</mat-icon>

      {{ (activeMenuItem$ | async)?.title }}
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
